<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.qa.listeners.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="appium/TDDFramework">
        <parameter name="platformName" value="Android"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="deviceName" value="Redmi_Pro"/>
        <classes>
            <!--            <class name="qa.mobile.test1"></class>-->
            <class name="com.qa.tests.LoginTests">
<!--                <methods>-->
<!--                    <include name="invalidUserName" />-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>