<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.qa.listeners.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="appium/TDDFramework">
        <!--<parameter name="platformName" value="Android"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="deviceName" value="Redmi_Pro"/>-->
        <parameter name="platformName" value="iOS"/>
        <parameter name="udid" value="70C06531-5518-48CD-82C6-950254E65848"/>
        <parameter name="deviceName" value="iPhone_16_Plus"/>
        <classes>
            <class name="com.qa.tests.LoginTests">
<!--                <methods>-->
<!--                    <include name="invalidUserName" />-->
<!--                </methods>-->
            </class>
            <class name="com.qa.tests.ProductTests">
<!--                <methods>-->
<!--                    <include name="validateProductOnProductsPage"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>